body {
    height: 100%;
    margin: 40px 20px;
    font-family: 'Barlow', sans-serif;
    background-color: #EFF6FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    display: flex;
    /*.banner-container stretch on full screen*/
    width: 100vw;
    height: 100vh;
    /*height: 500px;*/
    background: white;
    /*border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.banner {
    /* flex 1 - banner and container equal space*/
    flex: 1;
    width: 50%;
    /*height: 100%;
    height:auto;8*/
    position:relative;
    background: url('img/bg.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding: 30px;
}

.banner .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: auto;
    /*logo over banner*/
    z-index: 2;
  }

.container {
    /* flex 1 - banner and container equal space*/
    flex: 1;
    padding: 40px;
    /*display: flex; flex-direction: column; justify-content: center; - the register form on the center*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*text-align: center;
    padding: 40px;
    border-radius: 8px;
    width: 400px;
    width: 50%;
    padding: 40px;*/
}

.form-wrapper {
    width: 100%;
    max-width: 400px;
  }
  
  .social-buttons-horizontal {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

.social-buttons-horizontal button {
    /*width: 100%;*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    /*space between icon and text*/
    gap: 8px;
   /* margin: 5px 0;*/
}

.social-buttons-horizontal button img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    display: inline-block;
    flex-shrink: 0;
  }

.facebook {
    background-color: #255A9B;
}

.linkedin {
    background-color: #0076B6;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: #7B8A92;
    font-weight: bold;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: .75em;
}
.divider:not(:empty)::after {
  margin-left: .75em;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
}

.radio-group {
    text-align: left;
}

.radio-group label {
    display: inline-block;
    margin-right: 15px;
}

.tooltip {
    background: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: #2A4A5C;
    font-size: 12px;
}

.checkbox-group {
    text-align: left;
    font-size: 14px;
    color: #2A4A5C;
}

.checkbox-group a {
    color: #3698FB;
    text-decoration: none;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #3698FB;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}